{% extends 'base.html.twig' %}

{% block title %}{{ formation.titreFormation }}{% endblock %}

{% block body %}
<div class="titre">
    <h1>{{ formation.titreFormation }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="btns">
        <a class="btn" href="{{ path('edit_formation', {'id': formation.id}) }}">Modifier</a>
        <a class="btn delete" href="{{ path('delete_formation', {'id': formation.id}) }}">Supprimer</a>
    </div>
    {% endif %}
</div>
<div class="line"></div>

<div class="sous-titre">
    <h2>Sessions</h2>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn" href="{{ path('new_session')}}">Ajouter une session</a>
    {% endif %}

</div>

{% if formation.sessions | length > 0 %}

<table>
    <thead>
        <tr>
            <th>Session</th>
            <th>Formateur</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nombre de places</th>
        </tr>
    </thead>
    <tbody>

    {% for session in sessions %}
        <tr>
            <td><a href="{{ path('show_session', {'id': session.id}) }}"><strong>{{ session.nomSession }}</strong></a></td>
            <td>{{ session.formateur }}</td>
            <td>{{ session.dateDebutFr }}</td>
            <td>{{ session.dateFinFr }}</td>
            <td>{{ session.nbPlaces }}</td>
        </tr>
    {% endfor %}
                
    </tbody>
</table>

{% else %}
    <p>Aucune session disponible</p>
{% endif %}

{% endblock %}
