{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}


<section id="en-cours">
    <h2>En Cours</h2>
    <div class="line"></div>

    {% if sessionsEnCours | length > 0 %}
        <div class="dashboard-sessions">
            <div class="line-2"></div>
            {% for session in sessionsEnCours %}
                <div class="dashboard-session">
                    <h4>{{ session.formation }}</h3>
                    <h3>{{ session }}</h2>
                    <p>{{ session.description }}</p>
                    <p>{{ session.nbPlaces }} places restantes</p>
                    <p>Du {{ session.dateDebutFr }}</p>
                    <p>Au {{ session.dateFinFr }}</p>
                    <a class="orange" href="{{ path('show_session', {'id': session.id}) }}">En savoir plus</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucune session en cours</p>
    {% endif %}

</section>


<section id="prochainement">
    <h2>Prochainement</h2>
    <div class="line"></div>

    <div class="dashboard-sessions">
        <div class="line-2"></div>
        {% for session in sessionsProchaines %}
            <div class="dashboard-session">
                <h4>{{ session.formation }}</h3>
                <h3>{{ session }}</h2>
                <p>{{ session.description }}</p>
                <p>{{ session.nbPlaces }} places restantes</p>
                <p>Du {{ session.dateDebutFr }}</p>
                <p>Au {{ session.dateFinFr }}</p>
                <a class="orange" href="{{ path('show_session', {'id': session.id}) }}">En savoir plus</a>
            </div>
        {% endfor %}
    </div>

</section>

<section id="dashboard-formations">
    <h2>Formations</h2>
    <div class="line"></div>

    <div class="wrapper-formations">
        {% for formation in formations %}
            <div class="list dashboard-formation">
                <a href="{{ path('show_formation', {'id': formation.id}) }}">
                    <h3>{{ formation }}</h3>
                    {% for session in formation.sessions %}
                        {{ session }}
                        {% if not loop.last %} - {% endif %}
                    {% endfor %}
                </a>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
