{% extends 'base.html.twig' %}

{% block title %}{{ stagiaire }}{% endblock %}

{% block body %}
    <div class="titre">
        <h2>Fiche Stagiaire</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn" href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Modifier</a>
        {% endif %}
    </div>
    <div class="line"></div>

    <div class="fiche">
        <h3>{{ stagiaire }}</h3>
        <p>Date de naissance : {{ stagiaire.dateNaissanceFr }} - {{ stagiaire.age }} ans</p>
        {% if stagiaire.ville | length > 0 %}
            <p>Ville : {{ stagiaire.ville }}</p>
        {% endif %}
        <p>Email : {{ stagiaire.emailStagiaire }}</p>
        {% if stagiaire.telephone | length > 0 %}
            <p>Téléphone : {{ stagiaire.telephone }}</p>
        {% endif %}
    </div>

    <div class="fiche-sessions">
        <h2>Sessions prévues :</h2>
        <div class="line"></div>
        {% if stagiaire.sessions | length > 0 %}
            {% for session in stagiaire.sessions %}
                <div class="stagiaire-session list">
                    <h3><a href="{{ path('show_session', {'id': session.id }) }}">{{ session }}</a></h3> 
                    <p>(du {{ session.dateDebutFr }} au {{ session.dateFinFr }})</p>    
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune session</p>
        {% endif %}
    </div>
{% endblock %}
