{% extends 'base.html.twig' %}

{% block title %}{{ stagiaire }}{% endblock %}

{% block body %}
<div class="container">

    <h1>Fiche Stagiaire</h1>

    <h2>À Propos</h2>
    <h3>{{ stagiaire }}</h3>
    <p>Date de naissance : {{ stagiaire.dateNaissanceFr }} - {{ stagiaire.age }} ans</p>
    <p>Ville : {{ stagiaire.ville }}</p>
    <p>Email : {{ stagiaire.emailStagiaire }}</p>
    <p>Téléphone : {{ stagiaire.telephone }}</p>

</div>

<div class="container">

    <h2>Sessions prévues :</h2>
    {% if formation.sessions | length > 0 %}

        {% for session in stagiaire.session %}
            <p>{{ session }}</p>
        {% endfor %}

    {% else %}
        <p>Aucune session</p>
    {% endif %}
</div>
{% endblock %}
