{% extends 'base.html.twig' %}

{% block title %}Liste de sessions{% endblock %}

{% block body %}

<div class="titre">
    <h1>Sessions</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn" href="{{ path('new_session')}}">Ajouter une session</a>
    {% endif %}
</div>
<div class="line"></div>

{% for formation in formations %}
        
    <div class="sous-titre">
        <h2>{{ formation }}</h2>
    </div>

    {% if formation.sessions | length > 0 %}
        {% for session in formation.sessions %}
            <div class="list session">
                <div class="text">
                    <a href="{{ path('show_session', {'id': session.id}) }}">
                        <h3>{{ session.nomSession }}</h3>
                        {{ session.nbPlaces }} {% if session.nbPlaces == 1 %} place {% else %} places {% endif %}restantes
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        Aucune sessions
    {% endif %}
{% endfor %}




{% endblock %}
