{% extends 'base.html.twig' %}

{% block title %}{{ session }}{% endblock %}

{% block body %}
<div class="titre">
<h1>{{ session }}</h1>
{% if is_granted('ROLE_ADMIN') %}
    <div class="btns">
        <a class="btn" href="{{ path('edit_session', {'id': session.id}) }}">Modifier</a>
        <a class="btn delete" href="{{ path('delete_session', {'id': session.id}) }}">Supprimer</a>
    </div>
{% endif %}
</div>
<div class="line"></div>

<section id="session-info">
    <div class="fiche">
        <h3>Informations :</h3>
        <p>Encadré par {{ session.formateur }}</p>
        {% if session.description | length > 0 %}
            <p>{{ session.description }}</p>
        {% endif %}
        <p>Du {{ session.dateDebutFr }} à {{ session.heureDebutFr }} </p><p> Au {{ session.dateFinFr }} à {{ session.heureFinFr }}</p>
        <p>Nombre de places : {{ session.nbPlaces }}</p>
    </div>
</section>

<section id="modules">
    <div class="sous-titre">
        <h2>Modules :</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <button id="toggle-module" class="btn">Ajouter un module</button>
        {% endif %}
    </div>
    <div id="module-form" class="form-toggle">
        {{ form(moduleForm) }}
    </div>


    {% if session.programmes | length > 0 %}

        <table>
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Jours</th>
                </tr>
            </thead>
            <tbody>

            {% for programme in session.programmes %}
                <tr>
                    <td>{{ programme.unite }}</td>
                    <td>{{ programme.nbJours }}</td>
                </tr>
            {% endfor %}
                        
            </tbody>
        </table>

    {% else %}
        <p>Aucun module disponible</p>
    {% endif %}

</section>

<section id="session-stagiaires">
    <div class="sous-titre">
        <h2>Stagiaires inscrits :</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <button id="toggle-stagiaire" class="btn">Ajouter un stagiaire</button>
        {% endif %}
    </div>
    <div id="stagiaire-form" class="form-toggle">
        {{ form(stagiaireForm) }}
    </div>


    {% if session.stagiaires | length > 0 %}


    <table>
        <thead>
            <tr>
                <th>Stagiaire</th>
                <th>Email</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Désinscrire</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
        {% for stagiaire in session.stagiaires %}
            <tr>
                <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id }) }}">{{ stagiaire }}</a></td>
                <td>{{ stagiaire.emailStagiaire }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a class="btn delete" href="{{ path('deleteStagiaire_session', {'id': session.id }) }}">X</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>Aucun stagiaires inscrits</p>
{% endif %}



</section>

{% endblock %}
