{% extends 'base.html.twig' %}

{% block title %}{{ session }}{% endblock %}

{% block body %}
<div class="titre">
<h1>{{ session }}</h1>
<a class="btn" href="{{ path('edit_session', {'id': session.id}) }}">Modifier</a>
</div>
<div class="line"></div>

<section id="session-info">
    <div class="sous-titre">
        <h2>Informations :</h2>
    </div>
    <p>Encadré par {{ session.formateur }}</p>
    {% if session.description | length > 0 %}
        <p>{{ session.description }}</p>
    {% endif %}
    <p>Du {{ session.dateDebutFr }} à {{ session.heureDebutFr }} </p><p> Au {{ session.dateFinFr }} à {{ session.heureFinFr }}</p>
    <p>Nombre de places : {{ session.nbPlaces }}</p>
</section>

<section id="modules">
    <div class="sous-titre">
        <h2>Modules :</h2>
    </div>

    {% if session.programmes | length > 0 %}

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Jours</th>
                </tr>
            </thead>
            <tbody>

            {% for programme in session.programmes %}
                <tr>
                    <td>{{ programme.unite }}</td>
                    <td>{{ programme.nbJours }}</td>
                </tr>
            {% endfor %}
                        
            </tbody>
        </table>

    {% else %}
        <p>Aucun module disponible</p>
    {% endif %}

</section>

<section id="session-stagiaires">
    <div class="sous-titre">
        <h2>Stagiaires inscrits :</h2>
        <a id="toggle-stagiaire" class="btn" href="">Ajouter</a>
    </div>
    {% for stagiaire in session.stagiaires %}
        {{ stagiaire }}
    {% endfor %}


</section>

{% endblock %}
