<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Dashboard for Elan Forma" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>
    <body>

        <header>

            <nav id="navbar">
                <a class="logo" href="{{ path('app_dashboard')}}"><span class="orange">Elan</span>Session</a>

                <ul class="nav-links">
                    <li class="nav-link"><a class="{% if app.request.attributes.get('_route') == 'app_formation' %}active{% endif %}" href="{{ path('app_formation')}}">Formations</a></li>
                    <li class="nav-link"><a class="{% if app.request.attributes.get('_route') == 'app_stagiaire' %}active{% endif %}" href="{{ path('app_stagiaire')}}">Stagiaires</a></li>
                    <li class="nav-link"><a class="{% if app.request.attributes.get('_route') == 'app_formateur' %}active{% endif %}" href="{{ path('app_formateur')}}">Formateurs</a></li>
                    <li class="nav-link"><a class="{% if app.request.attributes.get('_route') == 'app_categorie' %}active{% endif %}" href="{{ path('app_categorie')}}">Catégories</a></li>
                </ul>

                <ul class="nav-links">
                    <li class="nav-link"><a class="orange" href="">Inscription</a></li>
                    <li class="nav-link"><a href="">Connexion</a></li>
                </ul>

                <div class="menuburger" onclick="menuChange(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </nav>

        </header>

        <main>
        {% block body %}
        {% endblock %}
        </main>

        <div class="back-to-top">
            <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

        <footer>

        </footer>

        {% block javascripts %}
        {% block importmap %}
        {{ importmap('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/19a031a4c5.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}

    </body>
</html>
