{% extends 'base.html.twig' %}

{% block title %}{{ formateur }}{% endblock %}

{% block body %}
    <div class="titre">
        <h2>Fiche Formateur</h2>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="btns">
            <a class="btn" href="{{ path('edit_formateur', {'id': formateur.id}) }}">Modifier</a>
            <a class="btn delete" href="{{ path('delete_formateur', {'id': formateur.id}) }}">Supprimer</a>
        </div>
        {% endif %}
    </div>
    <div class="line"></div>

    <div class="fiche">
        <h3>{{ formateur }}</h3>
        <p> {{ formateur.emailFormateur }} </p>
    </div>

    <div class="fiche-sessions">
        <h2>Sessions prévues :</h2>
        <div class="line"></div>
        {% if formateur.sessions | length > 0 %}
            {% for session in formateur.sessions %}
                <div class="formateur-session list">
                    <h3><a href="{{ path('show_session', {'id': session.id }) }}">{{ session }}</a></h3> 
                    <p>(du {{ session.dateDebutFr }} au {{ session.dateFinFr }})</p>    
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune session</p>
        {% endif %}
    </div>
{% endblock %}
